<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWPNViyO7b5dXsKC8ZFaCTT8cBkFrCmrE</string>
	<key>GCM_SENDER_ID</key>
	<string>291834071160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moltenburst.play</string>
	<key>PROJECT_ID</key>
	<string>molten-burst</string>
	<key>STORAGE_BUCKET</key>
	<string>molten-burst.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291834071160:ios:69dde307e5414cf346058d</string>
	<key>DATABASE_URL</key>
	<string>https://molten-burst-default-rtdb.firebaseio.com</string>
</dict>
</plist>